.dashboard {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    border-top: 1px solid blue;
}

textarea {
    padding: 10px;
}

.timeline {
    justify-self: center;
    width: 80%;
    max-width: 800px;
}

.form-container {
    max-width: 800px;
    margin: auto;
}

.side-panel {
    grid-column: 0;
    background-color: aliceblue;
    padding: 5px;
}

.card {
    margin-top: 5px;
    text-align: start;
}

.icon:hover {
    color: blue;
    cursor: pointer;
}

.likeBtn {
    font-size: 1.5rem;
}
.likeBtn:hover {
    cursor: pointer;
    color: blue;
}

.likeBtnLiked {
    font-size: 1.5rem;
    color: blue;
}

.likeBtnLiked:hover {
    cursor: pointer;
    color: black
}

.postInfo {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.comment-footer {
    padding: 0 0 5px 1px;
    height: 20px;
    display: flex;
}

.comment-footer > * {
    margin: 0 5px;
}

.fadeOutEffect {
    opacity: 0;
    transition: opacity 0.5s linear;
}