#navbarBrand {
    position: relative;
    left: 15px;
    top: 5px;
}


.title {
    text-decoration: none;
    color: black;
}

.navitem {
    margin: auto;
}

.navbar-nav {
    width: 10em;
}

.navMenu {
    width: 15em;
    
}

@media only screen and (max-width: 991px) {
    .navMenu{
        background-color: white;
        border: 1px solid black;
    }
}