.container {
    padding: 1rem 0;
}

.center {
    text-align: center;
    text-align: -webkit-center;
}

hr {
    margin-top: 5em;
}

.link {
    color: blue;
    text-decoration: underline;
    width: 100px;
}

.link:hover {
    cursor: pointer;
    color: blueviolet;
}